{% extends 'base.html' %}

{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="page_container">
    <div class="main_content ">
				<div class="page_container">
							<div class="main_content ">
								<!-- BEGIN content_for_index --><div id="shopify-section-1541170236956" class="shopify-section section index-section section_homepage section_slideshow"><div class="container direction_left ">
	<div class="section_slider swiper-container fullwidth" id="slideshow_1541170236956" data-autoplay="true" data-speed="5000">
		<div class="swiper-wrapper">
						<div class="swiper-slide image_slide">
								<div class="img_placeholder__wrap" style="background-image: url( //theme508-vinyl.myshopify.com/cdn/shop/files/slider11_1170x577_crop_top.jpg?v=1614290195 );"></div>
								<div class="slide_caption align_center">
								<div class="caption_text">
									<h2 >If You Know a True Value of Sound,</h2>
									<h3>you’ve got to the right place!</h3>
									<p>Welcome to the friendliest and the biggest retro vinyl record shop.</p>
										<a class="btn slider_btn" href="/products">Shop now</a>
								</div>
								</div>
						</div>

		</div>
	</div>
</div>
</body>
</html>
{% endblock content %}